mixin feature-card(data)
  .feature-card(class= data.cls ? data.cls : null style= data.bg ? `background-image: url('./assets/img/${data.bg}.png')` : null)
    .feature-card__content
      span.base-subtitle!= data.title
      span.base-text!= data.text
