extends ../../layouts/base-section/base-section.pug

block variables
  - sectionClass = 'features'
  - sectionTitle = 'Наши преимущества'
  - sectionText = 'Мы создаем уникальные интерьеры, учитывая все ваши пожелания и особенности помещения. Наш профессионализм и внимание к деталям гарантируют, что ваш дом станет настоящим произведением искусства.'

block content
  include ./features-grid-type-1

